body {
  font: verdana;
  font-weight: normal;
  text-align: center;
  background-color: Black;
}
h1, h2 {
  color: White;
}
h1 {
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
h6 {
  font-size: 21px;
  color: Gray;
}
p {
  color: Gray;
}
.download-link {
 color: Aquamarine;
 font-size: 16px;
 text-decoration: underline;
}
.copy-right {
  text-align: right;
}

